// color palette
$primary: #364163;
$secondary: #45557c;
$tertiary: #2533cc;
$four: #808da6;
$five: #3d4b70;
$white: #fff;
$light: #a3adc0;
$lighter: #c6cdda;
$black: #000;

// List of colors with quoted keys
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "four": $four,
  "five": $five,
  "white": $white,
  "light": $light,
  "black": $black,
);

// Mixin to generate color classes
@mixin generate-color-classes($colors) {
  @each $name, $value in $colors {
    .text-#{$name} {
      color: $value !important;
    }
  }
}

// Include the mixin to generate the classes
@include generate-color-classes($colors);
